<a href="https://colab.research.google.com/github/Chavarria86/progralll/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programacion computacional lll")

Hola Mundo
Bienvenidos chicos a programacion computacional lll

In [ ]:
nombre = "Emerson chavarria"
edad = 5
print (nombre, edad)

edad ="cinco"
print("tu edad ", edad)

Emerson chavarria 5
tu edad  cinco

In [ ]:
num1 = 5
num2 =8.9
suma = num1+ num2
print("La suma es: ",suma)

La suma es:  13.9

In [ ]:
num1 = float(input("Num1:"))
num2 = float(input ("Num2:"))
suma = num1 + num2
print ("La suma es :",suma)

Num1:5
Num2:5
La suma es : 10.0

In [ ]:
num1 = float(input("Num1:"))
num2 = float(input ("Num2:"))
resta = num1 - num2
print ("La resta es :",resta)

Num1:5
Num2:5
La resta es : 0.0

TIPOS DE DATOS EN PYTHON

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Emerson Chavarria"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: Emerson
Dime un valor: 0
Emerson Chavarria Esto es una cadena
Emerson Chavarria Letra inicial E Un valor especifico o rango Emer Comenzar desde el final a
on Chavarria Emer
<class 'str'>

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 03:09:59.280271 2025-07-29 03:09:59.280271
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 26-02-2005
2005-02-26 00:00:00

FUNCIONES EN PYTHON

In [ ]:
#Suma
def suma (num1,num2):
 return num1 + num2

num1 = float(input("Digite su primer numero:  "))
num2 = float(input("Digite su segundo numero: "))
respuesta = suma (num1,num2)
print("El resultado de la suma es: ",respuesta)

Digite su primer numero:  50
Digite su segundo numero: -10
El resultado de la suma es:  40.0

TAREA DE RESTA DE DOS NUMEROS INTRODUCIDOS POR EL USUARIO

In [ ]:
#resta
def resta (num1,num2):
 return num1 - num2
num1 = float(input("Digite su primer numero:"))
num2 = float(input("digite el segundo numero:"))
res = resta (num1,num2)
print("El resultado de la resta es:",res)

Digite su primer numero:2
digite el segundo numero:1
El resultado de la resta es: 1.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a farenheit.
def celciusFarenheit(c):
  return c*1.8 + 32

In [2]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a farenheit.
def celciusFarenheit(c):
  return c*1.8 + 32

c = int(input("Grados Celcius: "))
f = celciusFarenheit(c)
print("Grados Farenheit: ",f)

Grados Celcius: 35
Grados Farenheit:  95.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados farenheit a celcius.
def farenheitCelcius(f):
 return (f-32)*5/9

In [6]:
C = int(input("Grados F: "))
F = farenheitCelcius(C)
print("Grados C: ",F)

Grados F: 100
Grados C:  37.77777777777778

In [12]:
def farenheitCelcius(f):
 return (f-32)*5/9

f = float(input("Grados F: "))
c = farenheitCelcius(f)
print("Grados C: ",c)

Grados F: 100.4
Grados C:  38.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a kelvin.
def celciusKelvin (k):
  return (f-32) * 5/9 + 273.15

In [18]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a kelvin.
def celciusKelvin (c):
  return c + 273.15

c = float(input("grados c a K:"))
k = celciusKelvin(c)
print("grados K:",k)

grados c a K:38
grados K: 311.15

In [19]:
#hacer un ejercicio e python haciendo uso de funciones, que calcule el salario de un empledos segun horas trabajadas.
def sueldo (numHrs,valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [20]:
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs,valorXhr)
print("Sueldo: ",sueldo)

Horas trabajadas: 8
Valor por hora: 5
Sueldo:  1200.0

In [ ]:
def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = exponenciacion(b,e)
print("El numero:",b " elevado a",e,"el resultado es:", resultado)