<a href="https://colab.research.google.com/github/Chavarria86/progralll/blob/main/introduccion_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
print("Bienvenidos chicos a programacion computacional lll")

Hola Mundo
Bienvenidos chicos a programacion computacional lll

In [ ]:
nombre = "Emerson chavarria"
edad = 5
print (nombre, edad)

edad ="cinco"
print("tu edad ", edad)

Emerson chavarria 5
tu edad  cinco

In [ ]:
num1 = 5
num2 =8.9
suma = num1+ num2
print("La suma es: ",suma)

La suma es:  13.9

In [ ]:
num1 = float(input("Num1:"))
num2 = float(input ("Num2:"))
suma = num1 + num2
print ("La suma es :",suma)

Num1:5
Num2:5
La suma es : 10.0

In [ ]:
num1 = float(input("Num1:"))
num2 = float(input ("Num2:"))
resta = num1 - num2
print ("La resta es :",resta)

Num1:5
Num2:5
La resta es : 0.0

TIPOS DE DATOS EN PYTHON

In [ ]:
#ENTERO
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#DECIMAL
num2 = 7.5
print(num2, "Esto es un numero decimal")

#BOOLEANO
esMayor = True
print(esMayor, "Esto es un booleano")

#CADENA
nombre = "Emerson Chavarria"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: Emerson
Dime un valor: 0
Emerson Chavarria Esto es una cadena
Emerson Chavarria Letra inicial E Un valor especifico o rango Emer Comenzar desde el final a
on Chavarria Emer
<class 'str'>

In [ ]:
#FECHAS
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 03:09:59.280271 2025-07-29 03:09:59.280271
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 26-02-2005
2005-02-26 00:00:00

FUNCIONES EN PYTHON

In [ ]:
#Suma
def suma (num1,num2):
 return num1 + num2

num1 = float(input("Digite su primer numero:  "))
num2 = float(input("Digite su segundo numero: "))
respuesta = suma (num1,num2)
print("El resultado de la suma es: ",respuesta)

Digite su primer numero:  50
Digite su segundo numero: -10
El resultado de la suma es:  40.0

TAREA DE RESTA DE DOS NUMEROS INTRODUCIDOS POR EL USUARIO

In [ ]:
#resta
def resta (num1,num2):
 return num1 - num2
num1 = float(input("Digite su primer numero:"))
num2 = float(input("digite el segundo numero:"))
res = resta (num1,num2)
print("El resultado de la resta es:",res)

Digite su primer numero:2
digite el segundo numero:1
El resultado de la resta es: 1.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a farenheit.
def celciusFarenheit(c):
  return c*1.8 + 32

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a farenheit.
def celciusFarenheit(c):
  return c*1.8 + 32

c = int(input("Grados Celcius: "))
f = celciusFarenheit(c)
print("Grados Farenheit: ",f)

Grados Celcius: 35
Grados Farenheit:  95.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados farenheit a celcius.
def farenheitCelcius(f):
 return (f-32)*5/9

In [ ]:
C = int(input("Grados F: "))
F = farenheitCelcius(C)
print("Grados C: ",F)

Grados F: 100
Grados C:  37.77777777777778

In [ ]:
def farenheitCelcius(f):
 return (f-32)*5/9

f = float(input("Grados F: "))
c = farenheitCelcius(f)
print("Grados C: ",c)

Grados F: 100.4
Grados C:  38.0

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a kelvin.
def celciusKelvin (k):
  return (f-32) * 5/9 + 273.15

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones de usuarios, que convierta grados celcius a kelvin.
def celciusKelvin (c):
  return c + 273.15

c = float(input("grados c a K:"))
k = celciusKelvin(c)
print("grados K:",k)

grados c a K:38
grados K: 311.15

In [ ]:
#hacer un ejercicio e python haciendo uso de funciones, que calcule el salario de un empledos segun horas trabajadas.
def sueldo (numHrs,valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Horas trabajadas: "))
valorXhr = float(input("Valor por hora: "))
sueldo = sueldo(numHrs,valorXhr)
print("Sueldo: ",sueldo)

Horas trabajadas: 8
Valor por hora: 5
Sueldo:  1200.0

In [ ]:
def exponenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = exponenciacion(b,e)
print("El numero:",b, " elevado a",e,"el resultado es:", resultado)

Base: 2
Exponente: 2
El numero: 2.0  elevado a 2.0 el resultado es: 4.0

FUNCIONES ANONIMAS

In [ ]:
def suma (a,b):
  return a+b

In [ ]:
a = float(input("Digite su primer numero: "))
b = float(input("Digite su segundo numero: "))
suma = suma(a,b)
print("La suma es: ",suma)

Digite su primer numero: 5
Digite su segundo numero: 6
La suma es:  11.0

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 5
Num2: 6
La suma de  5.0  mas b  6.0  es igual  11.0

Funciones Preconstruidas

In [ ]:
def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 2
[4, 16, 36, 64, 49, 81]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:

serieUser = input("Serie: ")
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 4,6,8,1,3,9,7,2
Pares:  ['4', '6', '8', '2']
Impares:  ['1', '3', '9', '7']

In [ ]:
notas = list(map(float, input("Notas: ").split()))
print("Aprobados:", len(list(filter(lambda num: num > 6, notas))))
print("Reprobados:", len(list(filter(lambda num: num < 6, notas))))

Notas: 3 4 5 6 7 8 9 1 2 10
Aprobados: 4
Reprobados: 5

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda acum, num : num+acum, numeros)

sumaPares = reduce(lambda acum, num : num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda acum, num : acum + num if num%2==0 else acum, numeros,0)

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13

TUPLAS

In [10]:
tupla = (2,3,4,5,6,1,8,9)
#tupla [0] = 6
print("TUPLA :",tupla,"primer elemento: ",tupla[0],"Numero se repite las veces: ", tupla.count(2))
print("Ultimo elemento: ",tupla[-1])
print("Rango: ",tupla[0:2])

TUPLA : (2, 3, 4, 5, 6, 1, 8, 9) primer elemento:  2 Numero se repite las veces:  1
Ultimo elemento:  9
Rango:  (2, 3, 4)

In [13]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo","Lunes","Martes","Miercoles","Jueves","Viernes","Sabado")
meses =("","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana,dia,"del",meses[mes],"del",year)
print(fecha,fecha.isoweekday(),diaSemana)
print(dia,mes,year)

Martes 12 del Agosto del 2025
2025-08-12 2 Martes
12 8 2025

LISTAS

In [15]:
lista = [5,6,7,8,9,"progra lll",True,[1,2,3,4,5,[4,3,4]]]
print(lista)

[5, 6, 7, 8, 9, 'progra lll', True, [1, 2, 3, 4, 5, [4, 3, 4]]]

In [27]:
def calcularPromedio(nota,notas):
  return notas[1]*0.3*notas[2] + nota

In [28]:
# hacer un ejercicio en python que obtenga la nota final de progra lll del computo1 haciendo uso de las listas de las funciones
from functools import reduce

notas = [["Lab1,",8,0.3],["LAB2",9,0.3],["Parcial",10,0.4]]
prom = reduce(calcularPromedio, notas,0)
print("Nota final:",prom)

Nota final: 2.73